<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>about</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Fecha</ion-label>
    <ion-input type="date" [(ngModel)]="model.date"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Descripción</ion-label>
    <ion-input type="text" [(ngModel)]="model.description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Name</ion-label>
    <ion-input type="text" [(ngModel)]="model.name"></ion-input>
  </ion-item>
  <div class="actions">
    <button ion-button (click)="save()">Agregar</button>
  </div>
  <!-- <button ion-button (click)="goBack()">Go back</button> -->
</ion-content>
