<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p> -->

  <h1>One app </h1>
  <!-- <ion-card>
    <ion-card-header>Eventos</ion-card-header>
    <ion-list *ngFor="let action of actions">
      <button ion-item>
        <strong>{{action.name}}</strong>
        {{action.description}}
      </button>
    </ion-list>
  </ion-card> -->

  <ion-card *ngFor="let action of actions">
    <ion-card-header>
      <ion-card-title>{{action.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{action.description}}
    </ion-card-content>
  </ion-card>

  <ion-fab>
    <button class="button button-center" ion-fab (click)="gotoAbout();">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>


  <!-- <button ion-button (click)="gotoAbout();">Go to about</button> -->



  <!-- <button ion-button [navPush]="aboutPage" [navParams]="params">Go to about </button> -->
</ion-content>
